@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
}
body{
	color :#333;
}
header{
	border-top : 2px solid #333;
	background: #f6f5ef;
	overflow: hidden;
}
ul{
	list-style: none;
}
.wrap{
	max-width: 1050px;
	margin: 0 auto;
	padding : 1.5rem 0;
	display: flex;
	justify-content: space-between;

}
.site-nav{
/* 	margin-left: auto; */
}

a, a:link{
	text-decoration: none;
	color : inherit;
}
.nav-top, .nav-bottom {
	display: flex;
}
.nav-top{
	margin : 1rem 0;
	column-gap: 2rem;
}
.nav-top a{
	text-transform: capitalize;
}
.nav-top a:hover{
	text-decoration: underline;
}
.nav-top li::after{
	content: '';
	display: inline-block;
	width: 1px;
	height: 50%;
	background: #c6c6c6;
	margin: 0 .925rem;
}
.nav-top li:nth-child(4)::after{
	display: none;
}
.nav-top li:nth-child(5)::after{
	display: none;
}
.nav-bottom li:hover{
	background: #333;
	color : #408080;
	text-decoration: underline;
	height: 70px;
}
.nav-bottom a{
	text-transform: uppercase;
	padding: .5rem 1rem ;
	margin : .2rem 0 0 0;
	display: block;
}

.post-it{
	position: fixed;
	width : 140px;
	height: 214px;
	top: 200px;
	right: 5%;
}
.promotion{
	position: relative;
}
.promo-bg{
	display: flex;
	height: 650px;
	position: absolute;
	top:0;
	z-index: -1;
	width: 100%;
}
.left-bg{
	background: #c2d52e;
	flex: 5.5
}
.right-bg{
	background: #87c9e2;
	flex: 4.5
}
.beverage{
	height : 600px; /* 나중에 50px은 따로 사용예정*/
	display: flex;
	justify-content: center;
	column-gap: 3rem;
}
.b1{
	align-self: center;
}
.more{
	border: 2px solid white;
	border-radius: 3px;
	color: white;
	width : 43%;
	margin: 2rem auto;
	text-align: center;
	padding: 0 .2rem 0 .2rem;
	padding-top: .6rem;
	padding-bottom : .6rem;
	transition : all .3s ease-in-out;
	font-size: .825rem;
}
.more:hover{
	background: white;
	color : yellowgreen;
	text-decoration: underline;
}
.b2{
	margin-top : 3rem;
}
.b3{
	align-self: center;
}
.b4{
	padding-top: 4rem; 
}
.notice{
	display: flex;
	height: 50px;
	overflow: hidden;	/*나중에 다시 수정*/
}
.news-area{
	flex: 5.5;
	background: #111;
	color : white;
	
}
.area-items{
	display: flex;
	float : right;
}
.area-items h2{
	font-size: 1.2rem;
}
.area-items ul{
	overflow: hidden;
}
.area-items ul li{
	margin : 30px 0;
}
.area-items button{
	width: 30px;
	height: 30px;
	background: none;
	border: 1px soild ccc;
	border-radius: 50%;
	color: #ccc;
}
.promo-items{
	display: flex;
	float: left;	
}
.promo-area{
	flex: 4.5;
	background: #f6f5ef;
}
















